<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ibrohim - Portfolio</title>
</head>
<body>

    <header>
        <div class="container">
            <h1>Иброхим</h1>
            <nav>
                <ul>
                    <li><a href="#about">Обо мне</a></li>
                    <li><a href="#services">Услуги</a></li>
                    <li><a href="#portfolio">Портфилио</a></li>
                    <li><a href="#contact">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about" class="section">
        <div class="container">
            <h2>Обо мне</h2>
            <p>Привет, меня зовут Иброхим и мне 12 лет. Я разрабатываю сайты. Также работаю с ардуино.</p>
        </div>
    </section>

    <section id="services" class="section">
        <div class="container">
            <h2>Услуги</h2>
            <p>Разроботка веб сайтов.</p>
            <p>Робототехника, ардуино.</p>
            <p>Программирование на языке lua.</p>
        </div>
    </section>

    <section id="portfolio" class="section">
        <div class="container">
            <h2>Портфилио</h2>
            <div class="project">
                <h3>ООП Python</h3>
                <p>Всё об ООП в python.</p>
            </div>
            <div class="project">
                <h3>Qr-FLask</h3>
                <p>Сайт для генерации qr-code.</p>
            </div>
            <div class="project">
                <h3>FLask</h3>
                <p>Все о Flask в python.</p>
            </div>
            <div class="project">
                <h3>Qr-Code, qrcodeartistic</h3>
                <p>Всё о qr-code и qrcodeartistic в python.</p>
            </div>
            <div class="project">
                <h3>Python</h3>
                <p>Основы python.</p>
            </div>
            <!-- Add more project entries as needed -->
        </div>
    </section>

    <section id="contact" class="section">
        <div class="container">
            <h2>Контакты</h2>
            <p>Электронная почта: rajabboyevibrohim6000@gmail.com</p>
            <p>Номер телефона: +998 (94)-077-86-27</p>
            <p>Телеграмм: @NoneToGuideUs</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Ibrohim. All rights reserved.</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>